/*
* Copyright 2011 the authors of BookTrader (see the AUTHORS file included).
*
* This file is part of BookTrader.
*
* BookTrader is free software: you can redistribute it and/or modify it
* under the terms of the GNU Affero General Public License as published
* by the Free Software Foundation, version 3 of the License.
*
* BookTrader is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even any implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
* Affero General Public License version 3 for more details.
*
* You should have received a copy of the GNU Affero General Public
* License version 3 along with BookTrader. If not, see:
* http://www.gnu.org/licenses/
*/

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'),
       local('Cabin-Regular'),
       url('fonts/Cabin-Regular.woff') format('woff'),
       url('fonts/Cabin-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: bold;
  src: local('Cabin Bold'),
       local('Cabin-Bold'),
       url('fonts/Cabin-Bold.ttf') format('woff'),
       url('fonts/Cabin-Bold.woff') format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: local('Cabin Italic'),
       local('Cabin-Italic'),
       url('fonts/Cabin-Italic.woff') format('woff'),
       url('fonts/Cabin-Italic.ttf') format('truetype');
}
