/* General */

body {
  font-family: 'Liberation Sans', Helvetica, Arial, sans-serif;
  background-color: black;
  font-size: 12pt;
}

#wrapper {
  margin:0;
  background-color: #E0E4CC;
}

h1, h2, h3 {
  font-family: Cabin, sans-serif;
}


/* Header */

#header {
  padding: 0.4em 1em 0.6em 1em;
  background-color: #32656f;
  border-bottom: 0.3em solid #1c393f;
  color: #b3ebe8;
}

#user a, #user a:visited {
  color: #b3ebe8;
  text-decoration: underline;
}

#user {
  float:right;
  font-size: 0.9em;
}

h1 {
  font-size: 2.4em;
  padding:0 0 0 0;
}

h1 a, h1 a:visited {
  color: #FA6900;
  text-decoration: none;
  text-shadow: -1px -1px black;
}


/* Content div */

#content {
  background-color: #E0E4CC;
  border-top: 0.2em solid #1c393f;
  min-height: 600px;
  border-bottom: 0.4em solid #c9cdb7;
  padding:0 1em 1em 1em;
}


/* Footer */

#footer {
  background-color: black;
  color:white;
}


/* Search bar */

#search_bar {
  margin-left:1em;
}

#search_bar form, #search_bar fieldset {
  width: 100%;
}

#search_bar ul {
  display:block;
  width:80%;
  margin-left:10%;
}

#search_bar fieldset, #search_bar li {
  display: inline;
  margin:0;
  padding:0;
}

#search_bar label {
  width:10%;
  font-family: Cabin;
  font-size:1.1em;
}

#search_bar label {
  display: none;
}

#search_bar input {
  background-color: #1c393f;
  border: 1px solid #1c393f;
  border-radius: 0.2em;
  font-size: 1.1em;
  color: white;
  padding: 0.3em 0.3em;
  width:90%;
  margin:0.5em 0;
}

#search_bar input:focus {
  border: 1px solid #9cb0b8;
}

#search_bar #buttons {
  width: 10%;
  font-family: Cabin;
}

#search_bar button {
  background-color: transparent;
  border: none;
  font-size: 1.1em;
  font-family: Cabin;
}


/*  Flash messages */

#flash {
  background-color: #1c393f;
  padding:0 1em 0.4em 1em;
  color: #b3ebe8;
  font-weight: bold;
}


/* Books listings (eg search page) */

#books_list {
  background-color: red;
}

#books_list li {
  float: left;
  width: 49%;
  margin: 1em 1% 0 0;
  background-color: #f6fae0;
  border-radius: 0.2em;
}

#books_list .right {
  float: right;
  margin: 1em 0 0 1%;
}

#books_list li h3 {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Cabin, Helvetica, Arial, sans-serif;
  margin: 0 0 .2em 0;
}

#books_list li h3 a, #books_list li h3 a:visited {
  color:#1c393f;
}

#books_list li p {
  margin: 0.2em 0;
}
.book_short {
  margin:1em;
}

.authors {
  font-size: 0.9em;
}

.author {
  font-weight: bold;
}

.cover {
  float: left;
  margin: 0 0.5em 0.5em 0;
}

#stopper {
  clear: both;
  visibility: hidden;
}

.have_want {
  margin:1em;
}

.have_want a {
  color: white;
  background-color: #1c393f;
  font-family: Cabin, Helvetica, Arial, sans-serif;
  padding:0.2em;
  font-size: 1.1em;
  border-radius: 0.2em;
  text-decoration: none;
  text-shadow: -1px 1px black;
}