body {
  font-family: sans-serif;
  background-color: black;
}

#wrapper {
  margin:0;
  background-color: #E0E4CC;
}

#header {
  padding: 0.3em 0.4em 0.6em 1em;
  background-color: #32656f;
  border-bottom: 0.2em solid #1c393f;
  color: #b3ebe8;
}

#user {
  float:right;
  font-size: 0.85em;
}

h1, h2 {
  font-family: Cabin, sans-serif;
}

h1 {
  font-size: 2.4em;
  padding:0.2em 0 0 0;
}

h1 a, h1 a:visited {
  color: #FA6900;
  text-decoration: none;
  text-shadow: -1px -1px black;
}

#content {
  background-color: #E0E4CC;
  border-bottom: 0.2em solid #c9cdb7;
}

#footer {
  background-color: black;
  color:white;
}